<!DOCTYPE html>
<html lang="en">
  <%- include("./../layouts/head",{pageName: "Edit Blog" });%>
  <body>
    <a href="/blogs">All Blogs</a>
      <a href="/dashboard">Dashboard</a>
    <form method="POST" action="/blogs/edit-blog/<%= blog.id%>" enctype="multipart/form-data">
      <input type="hidden" name="id" value="<%= blog.id%>"
      <label for="title">Title</label>
      <input type="text" name="title" value="<%=blog.title%>" required />
      <%= possibleErrors.title %>
      <label for="description">Description</label>
      <textarea
        name="description"
        rows="14" cols="20"
        required
      ><%=blog.description%></textarea>
      <%= possibleErrors.description %>
      <label for="imageUrl">ImageUrl</label>
      <input type="file" name="imageUrl" accept="image/*" required />
      <input type="submit" value="SAVE" />
      <input type="reset" value="Reset" />
    </form>
  </body>
</html>
